ul
    li
        a(href="/") Home
    li
        a(href="/about.html") About
    li
        a(href="/contact.html") Contact
    li
        a(href="/shop.html") Shop
    li
        a(href="/learn-more.html") Learn More

script(src="dynamic-breadcrumbs.js")
script.
  var breadcrumbs = document.querySelector(".js-breadcrumb");

  if(breadcrumbs !== null) {
    new Breadcrumbs({
      breadcrumbElement: breadcrumbs,
      breadcrumbsHTML: "<a href='{url}'>{label}</a>",
      maxVisible: 4,
    })
  }
